<main id="main" class="mt-5">

  <h1 class="h1">Participantes</h1>

  <div class="flex w-full flex-wrap">

    <include src="./views/boxContainer.html" locals='{
                      "image": "./assets/images/participantes/pedrogl.jpg",
                      "title": "Pedro García López",
                      "description": "Estudiante de ciencias de la salud, entusiasta del ciclismo y el tennis."
                  }'>
    </include>

    <include src="./views/boxContainer.html" locals='{
              "image": "./assets/images/participantes/braismb.jpg",
              "title": "Brais Martinez Bello",
              "description": "Doctorado en filosofia, y categratico de la UOC."
          }'>
    </include>

    <include src="./views/boxContainer.html" locals='{
              "image": "./assets/images/participantes/jesusgd.jpg",
              "title": "Jesus Golan Dubra",
              "description": "Técnico frigorista y amante de los gatos."
          }'>
    </include>

    <include src="./views/boxContainer.html" locals='{
              "image": "./assets/images/participantes/josuecv.jpg",
              "title": "Josue Cerqueiro Vazquez",
              "description": "Estudiante de la informática y apasionado de los deportes de riesgo."
          }'>
    </include>

    <include src="./views/boxContainer.html" locals='{
              "image": "./assets/images/participantes/manuelgb.jpg",
              "title": "Manuel Gonzalez Blanco",
              "description": "Técnico de gestión de residuos, amante de los animales."
          }'>
    </include>

    <include src="./views/boxContainer.html" locals='{
              "image": "./assets/images/participantes/ismaelgv.jpg",
              "title": "Ismael Garcia Vila",
              "description": "Bombero, apasionado de la lectura y el teatro."
          }'>
    </include>

  </div>

</main>