<main id="main" class="mt-5">

  <article class="w-3/4 text-justify ">
    <include src="./views/headerArticle.html" locals='{
          "image": "./assets/images/campeonato/pista.jpg",
          "title": "Conoce nuestra liga",
          "description": "Publicado 2 semanas atrás"
      }'>
    </include>

    <section class="w-full md:flex">
      <div class="w-full md:w-1/4">
        <h2 class="h2">Origen del Tenis y su Esencia:</h2>
      </div>
      <div class="w-full md:w-3/4">
        <p>El tenis, con sus raíces que se remontan a la Inglaterra del siglo XIX, ha evolucionado 
          hasta convertirse en uno de los deportes más apasionantes y practicados en todo el mundo. 
          Este deporte, jugado tanto a nivel amateur como profesional, combina destreza física, 
          agilidad mental y una elegancia única en su ejecución. Consiste en golpear la pelota con 
          raquetas a través de una red, desafiando a los jugadores a mostrar tanto habilidades 
          técnicas como estratégicas.
        </p>
      </div>
    </section>

    <section>
      <div class="w-full">
        <hr>
        <h2 class="h2">Reglas del Juego:</h2>
        <p>Las reglas del juego para nuestra liga de tenis se basarán en los estándares internacionales 
          reconocidos para garantizar un juego justo y consistente. A continuación, se detallan algunas 
          de las reglas clave relacionadas con el sistema de puntuación:</p>

          <ul class="ul">
            <li class="li">
              <h3 class="h3">Puntuación Básica:</h3>
          
              <p>Los puntos se otorgan como 15, 30, 40 y juego. Ganar un punto otorga 15, y ganar consecutivos 
                30 y 40 puntos. El siguiente punto ganado después de llegar a 40 otorga el juego.
                Ventaja y Desempate:
              </p>
          
              <p>Si ambos jugadores tienen 40 puntos, se juega la situación de "ventaja". Ganar un punto en 
                ventaja otorga el juego. Si el jugador en ventaja pierde el punto, el juego vuelve a 40-40.
              </p>

              <p>En caso de llegar a un empate 40-40, se utiliza el "desempate" para determinar el ganador del juego.</p>
          
              <p>Desempate (Tiebreak):</p>
          
              <p>El desempate se juega para un máximo de 7 puntos. El primer jugador en llegar a 7 puntos, con al 
                menos una ventaja de 2 puntos, gana el desempate y el set.
              </p>
            </li>

            <li class="li">
              <h3 class="h3">Dimensiones del campo</h3>

              <p>El campo de tenis es el escenario donde se despliega toda la emoción y habilidad de nuestros jugadores. 
                Sus dimensiones están cuidadosamente reguladas para garantizar partidos justos y desafiantes. Con una 
                longitud de 23.77 metros y un ancho de 8.23 metros para los partidos individuales (singles), cada centímetro 
                cuenta. Las líneas de servicio, la red y los límites laterales son elementos cruciales que definen el campo 
                y añaden estrategia a cada movimiento. Explora las dimensiones del campo y descubre el espacio donde se gestan 
                los momentos inolvidables de la liga.
              </p>
            </li>

            <li class="li">
              <h3 class="h3">Integrantes de los equipos</h3>

              <p>En nuestra liga de tenis, nos enfocamos en la intensidad y destreza individual de nuestros jugadores. 
                La modalidad de singles pone a prueba la habilidad de cada participante para dominar la cancha por sí mismo. 
                Cada equipo está compuesto por jugadores apasionados que buscan la victoria en emocionantes enfrentamientos 
                uno a uno. La concentración, agilidad y estrategia son esenciales para destacar en esta competición de alto 
                nivel. Descubre quiénes son los intrépidos miembros de los equipos individuales que están listos para conquistar 
                la cancha y dejar su marca en la historia de nuestra liga. ¡Que comience el juego!
              </p>
            </li>
          </ul>
          
        <hr>
      </div>
    </section>

    <section>
      <div class="w-full">
        <h2 class="h2">Motivación y funcionamiento:</h2>

        <p>La creación de nuestra liga de tenis se fundamenta en el compromiso de fomentar un estilo 
          de vida saludable en personas jóvenes. El tenis no solo promueve la actividad física, sino 
          que también cultiva valores como la disciplina, la perseverancia y el trabajo en equipo. A 
          través de la participación en la liga, aspiramos a proporcionar una plataforma donde los 
          jóvenes puedan desarrollar habilidades atléticas, mentales y sociales que contribuyan a su 
          bienestar general.
        </p>
      </div>

      <div class="w-full">
        <img src="./assets/images/campeonato/pista3.jpg" class="w-1/2 block mx-auto mb-1 mt-1" alt="Imagen de una pista de tennis">
      </div>

      <div class="w-full">
        <p></p><p>La liga operará en un formato que fomente la participación activa y la competencia justa. 
          Se llevarán a cabo torneos regulares, proporcionando a los jugadores la oportunidad de medir 
          sus habilidades y avanzar en la clasificación. Además, organizaremos eventos sociales y 
          actividades relacionadas con el tenis para fortalecer la comunidad de la liga y crear un 
          ambiente enriquecedor para todos los participantes.
        </p>
      </div>
    </section>

    <footer>

    </footer>
  </article>
    

    

  </main>
