<main id="main" class="mt-5 ml-[5%]">

  <h1 class="pt-5 h1">UOC Tennis Club</h1>

  <div class="container">
    <div class="id-1">
      <h2 class="h2">Comienza la liga</h2>

      <p> La Liga de Tenis ha comenzado y está en pleno apogeo. ¡Y la Jornada 2 ha llegado con una dosis extra de intensidad y emoción!</p>

      <p>Después de una primera jornada llena de enfrentamientos electrizantes, los jugadores han demostrado su destreza en la cancha y 
        están listos para superarse a sí mismos. ¿Estás preparado para vivir partidos llenos de rivalidad y con puntos espectaculares? </p>
      
      <p>Sigue la liga con tus amigos y familiares para disfrutar de días llenos de pasión por el tenis. ¡Cada juego cuenta, cada punto importa! 
        No te pierdas la oportunidad de ser testigo de lances increíbles, saques potentes y jugadas estratégicas. </p>
      
      <img src="./assets/images/index/cancha.jpg" class="w-2/3 block mx-auto mt-1 mb-1" alt="cancha de tennis">

      <p></p><p>¡La emoción está en el aire y tú eres parte de ella!</p>

      <p>¡Únete a nosotros y sé parte de esta experiencia única en la Liga de Tenis! ¡Nos vemos en la cancha! </p>
    </div>
  </div>

</main>
